#sec1 {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-1);
    display: flex;
}

#sec1 .left-side-sec1 {
    background-color: var(--color-1);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 3vw;
}

.content-ocult {
    background-color: var(--color-2);
    color: var(--color-1);
    padding: 10px;
    font-size: 2rem;
    pointer-events: none;
    transform: rotate(-3deg) scale(0);
}

.content-revel {
    pointer-events: all;
    transform: rotate(-3deg) scale(1);
}

    #sec1 .left-side-sec1 h1 {
        color: var(--color-2);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

        #sec1 .left-side-sec1 .text-h1:nth-child(1) {
            font-size: 20rem;
        }

        #sec1 .left-side-sec1 .text-h1:nth-child(2) {
            font-size: 6rem;
            margin-top: -60px;
        }

        #sec1 .left-side-sec1 .text-h1:nth-child(3) {
            font-size: 2.5rem;
        }

#sec1 .right-side-sec1  {
    background-color: transparent;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding-left: 3vw;
    position: relative;
    overflow: hidden;
}

#sec1 .right-side-sec1 img {
    border-radius: 50%;
    height: 250px;
    border: 3px solid var(--color-1);
    z-index: 2;
}

    #sec1 .right-side-sec1 h2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        color: var(--color-2);
        z-index: 2;
        gap: 3px;

    }

     #sec1 .right-side-sec1 h2 span {
        padding: 5px;
        background-color: var(--color-1);
     }

#canvas1 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    position: absolute;
    background-color: #000000;
}

@media (max-width: 1200px) {
    #sec1 .left-side-sec1 .text-h1:nth-child(1) {
        font-size: 15rem;
    }

    #sec1 .left-side-sec1 .text-h1:nth-child(2) {
        font-size: 4.5rem;
        margin-top: -60px;
    }
    #sec1 .left-side-sec1 .text-h1:nth-child(3) {
        font-size: 2rem;
    }
}

@media (max-width: 800px) {
    #sec1 {
        flex-direction: column;
        min-height: 700px;
    }
    
    #sec1 .left-side-sec1 {
        width: 100%;
        min-width: none;
        height: 45%;
        align-items: center;
        justify-content: flex-end;
        padding-right: 0vw;
        padding-bottom: 5px;
    }

    .content-ocult {
        font-size: 1rem;
    }
        #sec1 .left-side-sec1 h1 {
            align-items: center;
            justify-content: center;
        }
    
            #sec1 .left-side-sec1 .text-h1:nth-child(1) {
                font-size: 10rem;
            }
    
            #sec1 .left-side-sec1 .text-h1:nth-child(2) {
                font-size: 2.5rem;
                margin-top: -30px;
            }
    
            #sec1 .left-side-sec1 .text-h1:nth-child(3) {
                font-size: 1rem;
            }
    
    #sec1 .right-side-sec1  {
        width: 100%;
        height: 55%;
        align-items: center;
        justify-content: center;
        padding-left: 0vw;
    }

    #sec1 .right-side-sec1 h2 {
        align-items: center;
        justify-content: center;
    }

    #sec1 .right-side-sec1 img {
        height: 200px;
    }
}