@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('variaveis.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .4s;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*---- SCROLL -----*/
body::-webkit-scrollbar {
    width: 12px; 
}
body::-webkit-scrollbar-track {
    background-color: var(--color-8); 
}
body::-webkit-scrollbar-thumb {
    background-color: var(--color-2);
    border-radius: 20px;
    border: 3px solid var(--color-8); 
}
/*---- FIM SCROLL -----*/

body {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-color: var(--color-10);
        height: 100%;
        z-index: 20;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-color: var(--color-1);
        height: 100%;
        z-index: 19;
    }
}

body.page-transition {

    &::after {
        animation: pagetransition .5s linear 2 alternate;
    }

    &::before {
        animation: pagetransition .5s linear 1 alternate-reverse;
    }
}

@keyframes pagetransition {
    from {
        width: 0%;
    }

    50% {
        width: 100%;
    }

    75% {
        width: 100%;
    }

    to {
        width: 100%;
    }
}